#### For each lesson, there will be a corresponding lab to complete during the Thursday portion of class. To complete the lab, simply follow the cells step-by-step, adding your code where appropriate. Be sure to run your code to ensure correctness and completeness without errors. 

# Lecture 13 Lab
In this lab, we'll review dictionaries and their methods.

## Prompt
Use your knowledge of Python variables and functions to address each of the following prompts.

#### 1. By now, we have learned various data types in Python...being able to identify the types is critical to understanding how each can be applied.

#### For each of the following, indicate the type of data structure (set, dictionary, tuple, list), and *explain* how you know.

(Note: because type() said so is not a valid response. Think about the characteristics presented in the slides.) 

#### a. {"April 9", "April 10", "April 11th"}

This is a set. It's defined with curly brackets but without a key:value format.

#### b.  [("fresh", "frozen"), ("chicken", "turkey"), {"store": "Kroger"}]

This is a list. It is defined with square brackets and items are separated by commas.

#### c. {"yesterday": "April 9", "today": "April 10", "tomorrow": "April 11th"}

This is a dictionary. It is defined with curly brackets and a key:value format.

#### d. ("June", "July", "August")

This is a tuple. It is defined with parenthesis, each item is separated by a comma, and each item is immutable.

#### 2. For each of the following, indicate if it would be a valid dictionary key. **Explain** why or why not.

#### a. "key"

Yes, "key" is immutable, with is a requirement of dictionary keys.

#### b. ["This", "Is", "A", "Key"]

No, a list is mutable, so it fails the requirement.

#### c. 123

Yes, a number is immutable, so it passes the requirement.

#### d. ("This", "Is", "a", "Key")

Yes, a tuple is immutable, so it passes the requirement.

#### 3. Define a dictionary, named *test_grades*, with key-value pairs based on the following information:

 - John scored a 96
 - Gina scored an 86
 - Marcus scored an 85
 - Ibrahim scored a 73
 - Cary scored a 73

In [5]:
test_grades: dict = {
    "John": 96,
    "Gina": 86,
    "Marcus": 85,
    "Ibrahim": 73,
    "Cary": 73
}

#### 4. Suppose a student, Antonio, took the test late and scored a 99. Add the appropriate key-value pair to the dictionary.

In [7]:
test_grades["Antonio"] = 99
print(test_grades)

{'John': 96, 'Gina': 86, 'Marcus': 85, 'Ibrahim': 73, 'Cary': 73, 'Antonio': 99}

#### 5. A second class' scores can be found in the dictionary below. Add these scores to the *test_grades* dictionary using an appropriate dictionary method.

In [8]:
#new scores defined here
new_scores = {"Frank": 57, "Kathryn": 78, "James": 60, "Patricia": 81}

In [9]:
test_grades.update(new_scores)
print(test_grades)

{'John': 96, 'Gina': 86, 'Marcus': 85, 'Ibrahim': 73, 'Cary': 73, 'Antonio': 99, 'Frank': 57, 'Kathryn': 78, 'James': 60, 'Patricia': 81}

#### 6. The professor cannot remember if one student, Skipper, was added to the gradebook. 

#### Using an appropriate method, return the value associated with the "Skipper" or if it doesn't exist, add Skipper with the default value 0.

In [15]:
test_grades.setdefault("Skipper", 0)
print(test_grades)

{'John': 96, 'Gina': 86, 'Marcus': 85, 'Ibrahim': 73, 'Cary': 73, 'Antonio': 99, 'Frank': 57, 'Kathryn': 78, 'James': 60, 'Patricia': 81, 'Skipper': 0}

#### 7. Following all of these changes, use the appropriate method to return all items in the dictionary as a list of tuples.

In [16]:
test_grades.items()

dict_items([('John', 96), ('Gina', 86), ('Marcus', 85), ('Ibrahim', 73), ('Cary', 73), ('Antonio', 99), ('Frank', 57), ('Kathryn', 78), ('James', 60), ('Patricia', 81), ('Skipper', 0)])

#### 8. The instructor wants to calculate the class average. 

#### Use an appropriate method to return all the scores from the dictionary as a list.

#### Second, calculate the average. Recall the built in functions len() and sum().

In [18]:
print(sum(test_grades.values()) / len(test_grades))

71.63636363636364

#### 9. Martha is the mother of 3 students -- James, Cary, and Skipper. 

#### Using the list below and a for loop, print the grades for each of Martha's children. (Recall how to access values from a dictionary)

In [19]:
#list below
marthas_children = ["James", "Cary", "Skipper"]

In [20]:
for child in marthas_children:
    print(f"{child}'s grade is: {test_grades[child]}")

James's grade is: 60
Cary's grade is: 73
Skipper's grade is: 0

#### 10. 

A common way to apply a for loop through a dictionary is to use the line below. 

         - for key in test_grades.keys():

In each iteration, the variable *key* is equal to the key of the dictionary, so accessing the corresponding value is as simple as: 

         - test_grades[key]

**And the entire key-value pair that matches the original dictionary is**:

         - {key:test_grades[key]}

#### With this information, loop through the *test_grades* dictionary determine if each pair is greater than or equal to passing (70). 

 - If it is greater or equal, add it *sorted_grades*, in the dictionary of the "Passing" key, using the update() method.

 - If it is less than, add it *sorted_grades*, in the dictionary of the "Failing" key, using the update() method.

In [25]:
#given dictionary
sorted_grades = {"Passing": {}, "Failing": {}}

In [26]:
for child, grade in test_grades.items():
    if grade >= 70:
        sorted_grades["Passing"].update({child: grade})
    
    else:
        sorted_grades["Failing"].update({child: grade})

print(sorted_grades)

{'Passing': {'John': 96, 'Gina': 86, 'Marcus': 85, 'Ibrahim': 73, 'Cary': 73, 'Antonio': 99, 'Kathryn': 78, 'Patricia': 81}, 'Failing': {'Frank': 57, 'James': 60, 'Skipper': 0}}